/* screen - about */

.about {
  align-items: flex-start;
  background-color: var(--coloursecondarywhite-100-general);
  border: 1px none;
  display: flex;
  height: 832px;
  width: 1355px;
}

.about .overlap-group2 {
  align-items: center;
  background-color: var(--coloursecondarywhite-100-general);
  display: flex;
  flex-direction: column;
  gap: 46px;
  min-height: 832px;
  width: 1355px;
}

.about .overlap-group3 {
  align-items: flex-start;
  background-color: #ffffff80;
  display: flex;
  min-width: 1355px;
}

.about .navigation-bar-about {
  align-items: center;
  background-color: #76c97e38;
  display: flex;
  gap: 936px;
  height: 92px;
  justify-content: flex-end;
  min-width: 1355px;
  padding: 0 28.0px;
}

.about .resonate {
  align-self: flex-end;
  color: var(--laurel);
  font-family: var(--font-family-skranji);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3.76px;
  min-height: 57px;
  text-align: center;
  width: 211px;
}

.about .contact-us {
  align-items: flex-start;
  background-color: var(--coloursecondaryyellow500);
  border-radius: 30px;
  display: flex;
  height: 38px;
  margin-top: 6.0px;
  min-width: 113px;
  padding: 9px 0;
}

.about .button-label {
  color: var(--colourmainblue900);
  font-family: var(--font-family-skranji);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 113px;
}

.about .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: -14px;
  margin-left: 4.0px;
  min-height: 670px;
  width: 1075px;
}

.about .title {
  color: var(--laurel);
  cursor: pointer;
  font-family: var(--font-family-skranji);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
  margin-right: 3.0px;
  min-height: 119px;
  text-align: center;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 688px;
}

.about .title:hover {
  transform: scale(1.1);
}

.about .overlap-group1 {
  height: 534px;
  margin-right: 4.0px;
  position: relative;
  width: 1071px;
}

.about .description {
  color: var(--laurel);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1071px;
}

.about .start-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 75px;
  left: 450px;
  min-width: 174px;
  position: absolute;
  top: 459px;
  transition: all 0.2s ease;
}

.about .start-button:hover {
  transform: scale(1.1);
}

.about .overlap-group {
  align-items: flex-start;
  background-image: url(../img/background-16.svg);
  background-size: 100% 100%;
  display: flex;
  height: 75px;
  min-width: 172px;
  padding: 17px 0;
}

.about .place {
  color: var(--colourmainblue800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 38px;
  min-height: 40px;
  text-align: center;
  white-space: nowrap;
  width: 172px;
}
