:root { 
  --colourmainblue800: #111b47;
  --colourmainblue900: #091133;
  --coloursecondarywhite-100-general: #ffffff;
  --coloursecondaryyellow500: #ffd166;
  --iconblack: #000000;
  --laurel: #6da078;
 
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 12px;
  --font-size-xl: 36px;
  --font-size-xxl: 96px;
 
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-skranji: "Skranji", Helvetica;
}
